{% load mustache %}

<!doctype html>
<html lang="en">
  <head>
    <title>Django + Backbone.js</title>

    {% block meta %}

    {% endblock %}

    {% block extra_css %}

    {% endblock %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}js/underscore-min.js"></script>
    <script src="{{ STATIC_URL }}js/backbone-min.js"></script>
    <script src="{{ STATIC_URL }}js/backbone-tastypie.js"></script>
    <script src="{{ STATIC_URL }}js/ICanHaz.min.js"></script>
    {% block extra_js_libraries %}

    {% endblock %}

    {% block jstemplates %}

    {% endblock %}

  </head>

  <body>

  {% block body %}

  {% endblock %}

  </body>
</html>
