{% extends "base.html" %}
{% load mustache %}
{% load straight_include %}
{% load verbatim %}

{% block extra_css %}
  <link rel="stylesheet" href="http://yui.yahooapis.com/3.2.0/build/cssreset/reset-min.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
{% endblock %}

{% block jstemplates %}

    <script>
      TWEET_API = "{% url api_dispatch_list api_name="v1" resource_name="tweet" %}";
      {% if data %}
      app = {loaded: true};
      {% endif %}
    </script>
    <script src="{{ STATIC_URL }}js/app.js"></script>

    <script type="text/html" id="tweetTemplate">
      {% straight_include "tweetTemplate.mustache" %}
    </script>

    <script type="text/html" id="listApp">
      {% straight_include "listApp.mustache" %}
    </script>

    <script type="text/html" id="detailApp">
      {% straight_include "detailApp.mustache" %}
    </script>

    {% if users_and_groups %}
    <script type="text/html" id="usersAndGroupsSelect">
      <select multiple="multiple" class="perms"{% verbatim %} data-perm-type="{{perm}}"{% endverbatim %}>
        {% mustache "usersAndGroupsSelect" users_and_groups %}
      </select>
    </script>
    {% endif %}

    {% endblock %}

{% block body %}

  <span style="float: right;">
    {% if request.user.is_anonymous %}
    <a href="/login/twitter?next={{ request.get_full_path }}" class="connect_with_twitter_button">
      <span>Connect with Twitter</span>
    </a>
    {% else %}
    <img height="25" width="25" src="{{ request.user.social_auth.get.extra_data.profile_image_url }}" alt="{{ request.user.username }}" title="{{ request.user.username }}">
    {{ request.user.username }}
    {% endif %}
  </span>

  <div id="app">
    {% if data %}
    {% mustache "detailApp" data %}
    {% endif %}
  </div>
{% endblock %}
