{% extends "base.html" %}
{% load mustache %}

{% block extra_css %}
  <link rel="stylesheet" href="http://yui.yahooapis.com/3.2.0/build/cssreset/reset-min.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
{% endblock %}

{% block body %}

  <span style="float: right;">
    {% if request.user.is_anonymous %}
    <a href="/login/twitter?next={{ request.get_full_path }}" class="connect_with_twitter_button">
      <span>Connect with Twitter</span>
    </a>
    {% else %}
    <img height="25" width="25" src="{{ request.user.social_auth.get.extra_data.profile_image_url }}" alt="{{ request.user.username }}" title="{{ request.user.username }}">
    {{ request.user.username }}
    {% endif %}
  </span>

  <div id="app">
    {% if data %}
    {% mustache "detailApp" data %}
    {% endif %}
  </div>
{% endblock %}
