<div id="input">
  <strong>What's going on?</strong>
  <textarea id="message"></textarea>
  <button class="tweet">Tweet</button>
</div>
<ul id="tweets" data-role="listview" data-divider-theme="b" data-inset="true">
</ul>
