{% extends "base.html" %}
{% load mustache %}
{% load straight_include %}
{% load verbatim %}

<!DOCTYPE html>
<html>
    <head>

    {% block meta %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}

    {% block extra_css %}
        <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.mobile-1.1.1.css" />
    {% endblock %}

    {% block extra_js_libraries %}
        <script type="text/javascript">
            $(document).bind("mobileinit", function(){
                $.mobile.hashListeningEnabled = false;
            });
        </script>
        <script src="{{ STATIC_URL }}js/jquery.mobile-1.1.1.js"></script>
    {% endblock %}

</head>
<body>

    {% block body %}

        <div data-role="page">

            <div data-role="header">
                <h1>My Title</h1>
            </div><!-- /header -->

            <div data-role="content">
                <ul data-role="listview" data-inset="true" data-filter="true">
                    <li><a href="#">Acura</a></li>
                    <li><a href="#">Audi</a></li>
                    <li><a href="#">BMW</a></li>
                    <li><a href="#">Cadillac</a></li>
                    <li><a href="#">Ferrari</a></li>
                </ul>
            </div><!-- /content -->

        </div><!-- /page -->

    {% endblock %}

</body>
</html>