{% load mustache %}
{% load compressed %}
{% load straight_include %}
{% load verbatim %}

<!doctype html>
<html lang="en"{% if not debug %} manifest="{% url cache_manifest %}"{% endif %}>
    <head>
        <title>Interlist</title>

        {% block meta %}
            <meta name="viewport" content="width=device-width, initial-scale=1">
        {% endblock %}

        <script>
            TWEET_RESOURCE = "{% url api_dispatch_list api_name="v1" resource_name="tweet" %}";
            ME_RESOURCE = "{% url api_dispatch_list api_name="v1" resource_name="me" %}";
            {% if data %}
                app = {loaded: true};
            {% endif %}
        </script>

        {% compressed_css 'mobile' %}
        {% compressed_js 'mobile' %}

        <script>
            {% if users_and_groups %}
                window.JST['usersAndGroupsSelect'] = Handlebars.compile('\
                    <select multiple="multiple" class="perms"{% verbatim %} data-perm-type="{{perm}}"{% endverbatim %}>\
                        {% mustache "usersAndGroupsSelectOptions" users_and_groups %}\
                    </select>\
                ');
            {% endif %}
        </script>

    </head>
<body>

    {% block body %}

        <div data-role="page">

            <div data-role="header">
                <span id="connect" style="float:right"></span>
                <h1>My Title</h1>
            </div><!-- /header -->

            <div id="app" data-role="content">
                {% if data %}
                    {% mustache "detailApp" data %}
                {% endif %}
            </div><!-- /content -->

        </div><!-- /page -->

    {% endblock %}

</body>
</html>