{% load mustache %}
{% load compressed %}
{% load straight_include %}
{% load verbatim %}

<!doctype html>
<html lang="en"{% if not DEBUG %} manifest="{% url cache_manifest %}"{% endif %}>
  <head>
  <title>Django + Backbone.js</title>

  {% block meta %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
  {% endblock %}

  {% compressed_css 'mobile' %}
  {% compressed_js 'mobile' %}

  {% block jstemplates %}

    <script>
      TWEET_API = "{% url api_dispatch_list api_name="v1" resource_name="tweet" %}";
      {% if data %}
        app = {loaded: true};
      {% endif %}
    </script>

    <script type="text/html" id="tweetTemplate">
      {% straight_include "tweetTemplateMobile.mustache" %}
    </script>

    <script type="text/html" id="listApp">
      {% straight_include "listAppMobile.mustache" %}
    </script>

    <script type="text/html" id="detailApp">
      {% straight_include "detailApp.mustache" %}
    </script>

    {% if users_and_groups %}
      <script type="text/html" id="usersAndGroupsSelect">
        <select multiple="multiple" class="perms"{% verbatim %} data-perm-type="{{perm}}"{% endverbatim %}>
            {% mustache "usersAndGroupsSelect" users_and_groups %}
        </select>
      </script>
    {% endif %}

  {% endblock %}

</head>
<body>

    {% block body %}

        <div data-role="page">

            <div data-role="header">
                <h1>My Title</h1>
            </div><!-- /header -->

            <div id="app" data-role="content">
                {% if data %}
                {% mustache "detailApp" data %}
                {% endif %}
            </div><!-- /content -->

        </div><!-- /page -->

    {% endblock %}

</body>
</html>