<div class="view">
    <p class="message">{{ message }}</p>
    <abbr class="timestamp">
        <a class="permalink" href="/{{id}}/">{{ timestamp }}</a>
    </abbr>
    {{{can_view_html}}}
    {{{can_edit_html}}}
    {{{is_admin_html}}}
    <button class="destroy btn">Delete</button>
</div>
<input class="edit" value="{{ message }}">